/* prefixId = box (default) */
#box{
	overflow:hidden;
}
#box *{
	box-sizing: border-box;
}
#box,
#box-load{
	border-radius:3px;
}
#box-load{
	padding:10px;
	background: #fff;
}
#box-loading{
	width: 50px;
	height: 50px;
	background: url('../images/box-load.gif') no-repeat;
}
#box-overlay{
	background: rgba(0,0,0, .5);
}
#box-header{
	background: #bbb;
	height:40px;
	line-height:40px;
}
#box-footer{
	background: #bbb;
	height:30px;
	line-height:30px;
}
#box-header,
#box-footer{
	padding:0 10px;
	color:#FFF;
	font-weight:bold;
}
#box-close{
	position: absolute;
	top:10px;
	right:10px;
	width:16px;
	height:16px;
	border:0;
	background: url('../images/close-modal.png') no-repeat;
	color:#000;
	white-space:nowrap;
}
#box-close img{
	display:block;
	border:0;
}
#box-error{
	background: red;
	color: #fff;
	padding: 30px;
}